@model IEnumerable<EmployeeManagementSystem.Models.Attendance>

<h2>All Attendance</h2>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Employee</th>
            <th>Date</th>
            <th>Check In</th>
            <th>Check Out</th>
            <th>Day Type</th>
        </tr>
    </thead>
    <tbody>
    @foreach(var att in Model)
    {
        <tr>
            <td>@att.Employee.UserName</td>
            <td>@att.Date.ToShortDateString()</td>
            <td>@att.CheckInTime?.ToString("HH:mm")</td>
            <td>@att.CheckOutTime?.ToString("HH:mm")</td>
            <td>@att.DayType</td>
            
        </tr>
    }
    </tbody>
</table>